@import '../../shared/styles/common';

article {
  padding: 20px;
  margin: 0 auto;
}

.thumbnail {
  text-align: center;
  .item-image {
    @media screen and (max-width: $sp) {
      width: 100%;
    }
    width: 70%;
    height: auto;
    background-size: cover;
  }
}

article .title {
  text-align: center;
}
