@import '../../styles/common';

.button {
  color: $WHITE;
  font-size: $f-size-medium;
  background-color: $WHITE;
}

.circle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.large {
  border-radius: 25px;
  width: 150px;
  height: 30px;
  letter-spacing: 3px;
}

.small {
  border-radius: 25px;
  width: 100px;
  height: 30px;
  letter-spacing: 3px;
}

.pink {
  border: $PINK solid 3px;
  color: $PINK;
}

.red {
  border: $RED solid 3px;
  color: $RED;
}

.blue {
  border: blue solid 3px;
  color: blue;
}

.green {
  border: $GREEN solid 3px;
  color: $GREEN;
}
