@import '../../shared/styles/common';

:host {
  display: block;
  margin: 0 auto;
}

.item-create {
  text-align: center;
  border-radius: 20px;
  background-color: $WHITE;
  padding: 10px 30px;
  box-shadow: 1px 1px $SHADOW_FOR_WHITE;
  box-sizing: border-box;

  @include mq-sp {
    padding: 10px 10px;
  }
}
