@import '../../shared/styles/common';
.item-create {
  text-align: center;
  border-radius: 20px;
  background-color: $WHITE;
  padding: 10px 30px;
  box-shadow: 1px 1px $SHADOW_FOR_WHITE;
  box-sizing: border-box;

  @include mq-sp {
    padding: 10px 10px;
  }
}

.item-create-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mq-m {
    display: block;
  }
}

.item-create-editor {
  width: 45%;

  @include mq-m {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-btn {
    margin: 22px auto;
    padding: 15px;
    border-radius: 4px;
    max-width: 120px;
    text-align: center;
    display: block;
    background-color: #f1f1f1;
    color: #73a9ff;
    box-shadow: 0 0 4px rgba(146, 146, 146, 0.8);
    outline: none;
    border: none;
    cursor: pointer;
  }

  .title-area {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    outline: none;
    background-color: $GREY;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: $f-size-medium;
    padding: 15px;

    @include mq-m {
      min-height: 30px;
      max-height: 30px;
      font-size: $f-size-small;
    }
  }

  .text-area {
    resize: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: $GREY;
    border: 1px solid;
    min-height: 1000px;
    max-height: 1000px;
    font-size: $f-size-medium;
    padding: 15px;

    @include mq-m {
      min-height: 500px;
      max-height: 500px;
      font-size: $f-size-small;
    }
  }
}

.item-create-preview {
  text-align: start;
  width: 500px;
  height: auto;
  display: inline-block;

  @include mq-m {
    width: 100%;
  }
}

.preview-image {
  width: 100%;
  height: auto;
  background-size: cover;
}
