@import '../../shared/styles/common';
.item-add {
  text-align: center;
  border-radius: 20px;
  background-color: $WHITE;
  padding: 10px 30px;
  box-shadow: 1px 1px $SHADOW_FOR_WHITE;
  box-sizing: border-box;

  @include mq-sp {
    padding: 10px 10px;
  }
}

.item-add-contents {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mq-m {
    display: block;
  }
}

.item-add-editor {
  width: 45%;

  @include mq-m {
    width: 100%;
    margin-bottom: 20px;
  }

  .title-area {
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    outline: none;
    background-color: $GREY;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 15px;

    @include mq-m {
      min-height: 30px;
      max-height: 30px;
      font-size: 10px;
    }
  }

  .text-area {
    resize: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: $GREY;
    border: 1px solid;
    min-height: 1000px;
    max-height: 1000px;
    font-size: 15px;
    padding: 15px;

    @include mq-m {
      min-height: 500px;
      max-height: 500px;
      font-size: 10px;
    }
  }
}

.item-add-preview {
  text-align: start;
  width: 45%;

  @include mq-m {
    width: 100%;
  }
}

.highLight {
  h1 {
    font-size: 32px;
  }
  code {
    background-color: #eee;
    color: #333;
    padding: 0.1em 0.4em;
  }
  a {
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
  }
}
