<div class="item-create">
  <div class="item-create-container">
    <h2>記事作成</h2>
    <form
      [formGroup]="itemCreateForm"
      (ngSubmit)="onSubmit(itemCreateForm.value)"
    >
      <div class="item-create-contents">
        <div class="item-create-preview">
          <h1
            name="preview-title"
            [innerHTML]="itemCreateForm.value.title | markdown"
          ></h1>
          <div
            name="preview-contents"
            class="highLight"
            [innerHTML]="itemCreateForm.value.contents | markdown"
          ></div>
        </div>
        <div class="item-create-editor">
          <input class="title-area" formControlName="title" type="text" />
          <textarea class="text-area" formControlName="contents"></textarea>
          <button type="submit">
            <app-button type="circle" color="pink">check</app-button>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
