<form [formGroup]="subForm" (ngSubmit)="onSubmit()">
  <div class="editor">
    <div class="preview-area">
      <h1
        name="preview-title"
        [innerHTML]="subForm.value.title | markdown"
      ></h1>
      <img class="preview-image" [src]="previewImageSrc" alt="" />
      <div
        name="preview-contents"
        class="highLight"
        [innerHTML]="subForm.value.contents | markdown"
      ></div>
    </div>
    <div class="editor-area">
      <input type="text" class="editor-title" formControlName="title" />
      <button
        type="button"
        class="editor-input-btn"
        (click)="imageInput.click()"
      >
        写真をつける
      </button>
      <input
        type="file"
        class="image-btn-display-none"
        hidden
        #imageInput
        (change)="onImageUpload($event)"
      />
      <textarea class="editor-text-area" formControlName="contents"></textarea>
      <button type="submit">
        <app-button type="circle" color="pink">check</app-button>
      </button>
    </div>
  </div>
</form>
