<div class="item-container">
  <div class="item-div" *ngFor="let article of articles">
    <div class="item-content">
      <div class="item-info-area">
        <p class="item-created_at">
          {{ getDateString(article) | date }}
        </p>
        <p class="item-title">{{ article.title }}</p>
      </div>
      <div class="item-image-area">
        <img class="image" src="{{ article.imageSrc }}" alt="" />
      </div>
      <div class="item-read-button">
        <app-button
          shape="small"
          class="more-button"
          color="blue"
          (click)="navigateToItemPage(article.id)"
          >Read</app-button
        >
      </div>
    </div>
  </div>
</div>
