@import url("https://fonts.googleapis.com/css?family=Coustard&display=swap");

// font-family
$f-family-app-title: "Coustard", serif;

// font-size
$f-size-small: 10px;
$f-size-medium: 15px;
$f-size-large: 25px;

// font-weight
$f-weight-bold: bold;

// color
$BLACK: #444;
$GREY: #f1f1f1;
$WHITE: white;
$SHADOW_FOR_WHITE: #ffe8e8;
$PINK: #ff8181;
$GREEN: #b8f3b8;
$RED: red;

// media query
$tab: 768px; // タブレット
$sp: 480px; // スマホ

@mixin mq-m {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin mq-sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
