<div class="item-container" *ngIf="items$ | async as items">
  <div class="item-div" *ngFor="let item of items">
    <div class="item-content">
      <p class="item-created_at">{{ item.createdAt | date }}</p>
      <p class="item-title">Title: {{ item.title }}</p>
      <div class="item-footer">
        <app-button
          class="item-button"
          size="small"
          color="blue"
          (click)="navigateToEditPage(item.id)"
        >
          create
        </app-button>
        <app-button size="small" color="red" (click)="delete(item.id)">
          delete
        </app-button>
      </div>
    </div>
  </div>
</div>
