<div class="item-container">
  <div class="item-div" *ngFor="let item of items">
    <div class="item-content">
      <div class="item-info-area">
        <p class="item-created_at">{{ item.createdAt | date }}</p>
        <p class="item-title">Title: {{ item.title }}</p>
      </div>
      <div class="item-image-area">
        <img class="image" src="{{ item.imageSrc }}" alt="" />
      </div>
      <div class="item-read-button">
        <app-button
          type="small"
          class="more-button"
          color="blue"
          (click)="navigateToItemPage(item.id)"
          >Read</app-button
        >
      </div>
      <div class="item-footer">
        <app-button
          type="circle"
          class="item-button"
          color="blue"
          (click)="navigateToEditPage(item.id)"
        >
          create
        </app-button>
        <app-button type="circle" color="pink" (click)="delete(item.id)">
          delete
        </app-button>
      </div>
    </div>
  </div>
</div>
